
.card{
    position: relative;

}
.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    border: 0.001px solid rgb(48, 50, 48);
  }
  .MainCard{

    display: flex;
    background-color: rgb(255 255 255);
    padding-top: 30px;
    padding-left: 36px;
    padding-bottom: 30px;
    position: absolute;
    margin-top: 71px;
    width: 400px;
    height: 271px;
    margin-left: 78px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: -1px 5px 19px -1px;
  }
  p{
    color: rgba(28, 28, 28, 0.83);
    font-size: 15px;
    margin-left: 25px;
    font-family: monospace;
    margin-bottom: 61px;
    margin-top: 8px;
}
    


h6{
    color: black;
    font-size: 20px;
    margin-left: 25px;
    font-family: monospace;
}

  select{
    margin-left: -21px;
    margin-top: 28px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    translate: 18% -78%;
    margin-bottom: 10px;
    background-color: transparent;
  }
  .optionDiv{
          position: absolute;
        
        }

  .optionBody{
    background-color: rgba(144, 144, 159, 0.614);
    min-height: 20px;
   
    width: 260px;
    margin-top: 150px;
    margin-left: 551px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

