
<div class="card">
  <div class="MainCard">
  <div class="status">
    <div *ngFor="let item of data">
      <div class="dot"  [ngStyle]="{'background-color':item.isSelected ? ' rgb(41 159 99)':'none' , 'color': item.isSelected ? 'white':'none','font-size': item.isSelected ? '25px':'none'}"></div>
      <i id="icon" class="fa fa-arrow-down" style="font-size:28px" *ngIf="item.id != 3"></i>
    </div>
    </div>
  <div class="Txt">
      <p>Dispatch</p>
      <p>WareHouse</p>
      <p>Delivered</p>
  </div>
  </div>
  <div class="optionDiv">
      <div class="optionBody">
      <h6 id="selectTxt">Select the option </h6>
      <select [(ngModel)]="idSelected" (ngModelChange)="changeColorOfselectedValue();" >
    <option [ngValue]="null">Select</option>
    <option  *ngFor="let item of data"  [ngValue]="item.id">{{item.name}} </option>
  </select>
  </div>
  </div>
</div>